*{
    font-family: 'Nunito Sans', sans-serif;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #000;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 10px;
}
@media(min-width:993px){
    .btn-set-1{
        display: none;
    }
}
@media(max-width:992px){
    .btn-set{
        display: none;
    }
    .btn-set-1{
        display: block;
    }
    .menu{
        display: none;
    }
    .menu-ul{
        display: none;
    }
}
@media(max-width:768px){
    .btn-set{
        display: none;
    }
    .btn-set-1{
        display: block;
    }
    .menu{
        display: none;
    }
    .menu-ul{
        display: none;
    }
}
@media(max-width:576px){
    .div-set{
      
        margin: 20px 60px !important;
    }
    .set-div{
        margin: 20px 60px;
    }
    .btn-set{
        display: none;
    }
    .btn-set-1{
        display: block;
    }
    .menu{
        display: none;
    }
    .menu-ul{
        display: none;
    }
}
@media(max-width:426px){
    .div-set{
      
        margin: 20px 40px !important;
    }
    .set-div{
        margin: 20px 40px;
    }
    .btn-set{
        display: none;
    }
    .btn-set-1{
        display: block;
    }
    .menu{
        display: none;
    }
    .menu-ul{
        display: none;
    }
}
.set-btn{
    background-color: #fff;
    color: blue;
    border-radius: 50px;
    border: none;
    padding: 7px 9px;
    position: fixed;
    z-index: 99999;
    box-shadow: 3px 1px 21px #ccc;
    margin-top: 100px;
}
.bg{

    z-index: 1000;
    background: url("../img/shared.png"),linear-gradient(0deg, rgba(47,85, 212, 1.1),rgba(47, 85, 212, 1.1));
    background-size: cover;
    background-position: center;

    /* background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(https://picsum.photos/id/1043/800/600); */
    padding: 250px 80px;
}
.ic-set{
    animation: mymove 3s infinite;
    font-size: 20px;
}
@keyframes mymove {
    100% {transform: rotate(360deg);}
  }
  .price-set{
    font-size: 38px;    
}
.div-set{
    background-color: #f8f9fa;
    padding: 40px 20px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0px 0px 2px #ccc;
    transition: 1s;  
    cursor: pointer;
}
.div-set:hover{
    transform: scale(1.1);
    transition: 1s;
}
.set-div{
    border: 2px solid #f8f9fa;
    padding: 40px 20px;
    border-radius: 5px;
    border-bottom: 3px solid #2f55d4;
    box-shadow: 0px 0px 2px #ccc;
    transition: 1s;  
    cursor: pointer;
    background-color: #f8f9fa;
}
.set-div:hover{
    transform: scale(1.1);
    transition: 1s;  
}
.info{
    list-style: none;
    margin: 20px 0px;
    color: #8492a6;
    font-size: 14px;
}
.info li{
    margin-bottom: 5px;
    
}
.ribbon.ribbon-right {
    right: -5px;
}
.ribbon {
    position: absolute;
    top: -5px;
    width: 75px;
    height: 75px;
    z-index: 2;
}
.ribbon.ribbon-right span {
    right: -23px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ribbon.ribbon-warning span {
    background-color: #f17425!important;
}
.ribbon span {
    position: absolute;
    top: 18px;
    width: 100px;
    color: #fff;
}
.small, small {
    font-size: 90%;
}
.ribbon.ribbon-warning span:before {
    border-left-color: #d55b0e;
    border-top-color: #d55b0e;
}
.ribbon span:before {
    left: 0;
}
span:before {
    content: "";
    position: absolute;
    top: 100%;
    z-index: -1;
    border: 3px solid transparent;
}
.ribbon.ribbon-warning span:after {
    border-right-color: #d55b0e;
    border-top-color: #d55b0e;
}
.ribbon span:after {
    right: 0;
}
.ribbon span:after, .ribbon span:before {
    content: "";
    position: absolute;
    top: 100%;
    z-index: -1;
    border: 3px solid transparent;
}
.m-set{
    margin-top: -120px;

}
p{
    color: #8492a6;
}
.ic1{
    font-size: 30px;
}
.card{
    background-color: #f8f9fa !important;
    margin: 10px 1px;
    padding: 20px 20px;
    transition: 0.6s;
}

.features.feature-primary.feature-full-bg:hover {
    background-color: #2f55d4!important;
    color: #8492a6;
    transition: 0.6s;
}
.features.feature-full-bg:hover .icon-color i {
    color: rgba(255,255,255,.5)!important;
    transition: 0.6s;
}
h5 i{
    letter-spacing: 10px;
}
.position{
    position: sticky;
    top: 0%;
    z-index: 9999;
    background-color: #fff;
}
.menu1{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu1 li a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    text-align: center;
    
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
}
.menu li a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    text-align: center;
    
}
.dropdown-1{
    position: relative;
}
.dropdown-contecnt{
    position: absolute;
    display: none;
    width: 250%;
    background-color: #f8f9fa;
    top: 100%;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 12px #ccc;
    animation:a 2s infinite;
}


.dropdown-1:hover .dropdown-contecnt{
    display: block;
  
}
.btn-set{
    border: none;
    padding: 10px 14px;
    border-radius: 30px;
    
}
.btn-set-1{
    border: none;
    padding: 10px 14px;
    border-radius: 30px;
    
}
.set-btn{
    background-color: #fff;
    color: blue;
    border-radius: 50px;
    border: none;
    padding: 7px 8px;
    position: fixed;
    z-index: 99999;
    box-shadow: 3px 1px 21px #ccc;
    margin-top: 100px;
}
.font-light{
    color: #adb5bd;
    font-size: 15px;
    width: 300px;
    line-height: 1.5rem;
}
.bg-blue{
    background-color:#202942;
}
.btns{
	background-color: transparent;
	color: #adb5bd;
	border-radius: 5px;
    margin: 10px 1px;
}
.btns:hover{
	background-color: #2f55d4;
}
.footer1{
    color: #fff;
    font-size: 22px;
}
.menu2{
    list-style: none;
    margin: 0 50px;
    padding: 0;
}
.menu2 li{
    margin-bottom: 10px;
}
.menu2 li a{
    text-decoration: none;
    color: #adb5bd;
    transition: 1s ;
}
.menu2 li a i{ 
    letter-spacing: 10px;
    color: #adb5bd;
    transition: 1s ;
}
.menu2 li a i:hover{
    margin-left: 15px;
    transition: 1s ;
    color: #fff;
}
.footer-set{
    color: #adb5bd;
    font-size: 14px;
}
.span1{
    color: red;
}
.form-control {
    background-color: transparent !important;
    color: #adb5bd !important;
}
#submitsubscribe{
    color: #2f55d4 !important;
    padding: 8px 94px;
    background-color: rgba(47,85,212,.05)!important;
    margin-top: 10px;
    border-radius: 7px;
    transform: 1s;
}
#submitsubscribe:hover{
    background-color: #2f55d4!important;
    color: #fff !important;
    transform: 1s;
}
.border-set{
    border-top: 1px solid #283453 !important;
}
.copyright{
    color: #adb5bd;
}
.float-end img{
    width: 13%;
}